.c-app
  display: flex
  width: 100vw
  height: 100vh
  font-family: $fontFamily
  flex-direction: column

  *
    ::selection
      background: none

.c-app__canvas
  display: flex
  width: 100%
  height: 100%