.c-context-menu-wrap
  +absolute-full
  z-index: 999999999999

.c-context-menu__overlay
  +absolute-full
  position: fixed
  background: none

.c-context-menu
  position: absolute
  border: none
  display: flex
  flex-direction: column
  outline: none
  backdrop-filter: blur(17px)
  border-radius: $unit
  padding: $unit 0

  &::selection
    background: none

.c-context-menu__item,
.c-context-menu__head
  line-height: $unit * 6
  font-family: $fontFamily
  font-size: $fontSizeSm
  text-align: left
  width: 100%
  height: $unit * 6
  padding: 0 $unit * 4

  &::selection
    background: none

.c-context-menu__item
  cursor: pointer

.c-context-menu__head
  text-transform: uppercase

.c-context-menu__empty-state
  font-family: $fontFamily
  font-size: $fontSizeSm
  line-height: 16px
  text-align: center
  padding: $unit * 4