.c-event-drawer
  position: relative
  bottom: 0
  width: 100%
  display: flex
  flex-shrink: 0
  overflow: hidden
  z-index: 1
  padding: 0 1px

.c-event-drawer__icon
  width: $unit * 8
  height: $unit * 8
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  padding-right: $unit * 2
  cursor: pointer

.c-event-drawer__drag-handle
  position: absolute
  width: 100%
  height: $unit * 2
  z-index: 2
  bottom: 0

.c-event-drawer__layers-drag-handle
  position: absolute
  width: $unit * 4
  height: $unit * 8
  z-index: 4
  top: 0
  overflow: visible

  &:before
    +content-block
    width: $unit * 2
    left: 0
