.c-fill-editor__overlay
  +absolute-full
  position: fixed
  background: none
  display: flex
  align-items: center
  justify-content: center

.c-fill-editor__picker
  position: absolute
  width: 220px