.c-fill-editor__overlay
  +absolute-full
  position: fixed
  background: none
  display: flex
  align-items: center
  justify-content: center

.c-fill-editor__picker
  position: absolute
  width: 220px
  display: flex
  flex-direction: column
  border-radius: $unit
  backdrop-filter: blur(10px)

.c-fill-editor__type-selector
  position: relative
  display: flex
  align-items: center
  justify-content: center
  padding: $unit * 2

.c-fill-editor__type
  width: $unit * 6
  height: $unit * 6
  display: flex
  align-items: center
  justify-content: center
  flex-grow: 1
  flex-shrink: 0
  border-radius: 50%
  max-width: $unit * 6
  max-height: $unit * 6
  margin: 0 $unit

.c-fill-editor__remove-stop
  position: absolute
  right: 0
  width: $unit * 6
  height: $unit * 6
  display: flex
  align-items: center
  justify-content: center
  flex-grow: 1
  flex-shrink: 0
  border-radius: 50%
  max-width: $unit * 6
  max-height: $unit * 6
  margin: 0 $unit * 2