.c-sidebar-input
  width: 100%
  height: 100%
  padding: $unit

.c-sidebar-input--disabled
  cursor: default

.c-sidebar-input__inner
  display: flex
  align-items: center
  flex-wrap: wrap
  position: relative
  width: 100%
  height: 100%

.c-sidebar-input--slider
  margin: 0 $unit

.c-sidebar-input__form
  width: 100%

.c-sidebar-input__form--disabled
  opacity: 0.5

.c-sidebar-input__field
  font-family: $fontFamily
  font-size: $fontSizeSm
  width: 100%
  height: $unit * 6
  line-height: $unit * 6
  border: none
  outline: none
  margin: 0
  padding: 0 $unit
  border-radius: $unit

  &::selection
    background: $selectionColor

  &::placeholder
    font-family: $fontFamily
    font-size: $fontSizeSm

.c-sidebar-input__field--label
  padding-right:  ($unit * 4) + 2

.c-sidebar-input__field--left-label
  padding-left:  ($unit * 4) + 2

.c-sidebar-input__field--button
  display: flex
  align-items: center
  justify-content: center

.c-sidebar-input__field--dropdown-selector
  display: flex
  align-items: center
  justify-content: space-between
  padding-right: 0

.c-sidebar-input__field--disabled
  cursor: default
  opacity: 0.5

.c-sidebar-input__label
  position: absolute
  top: 1px
  font-family: $fontFamily
  font-size: $fontSizeSm
  text-align: center
  margin: 0
  width: $unit * 4
  height: ($unit * 6) - 2
  line-height: $unit * 6
  border-radius: $unit

  &::selection
    background: none

.c-sidebar-input__label--right
  right: 1px

.c-sidebar-input__label--left
  left: 1px
  font-size: $fontSizeSm

.c-sidebar-input__bottom-label
  right: 0
  flex-grow: 2
  font-family: $fontFamily
  font-size: $fontSizeXs
  text-align: right
  height: $unit * 4
  line-height: $unit * 4
  margin-top: $unit * 2
  text-transform: uppercase
  justify-content: center

  &::selection
    background: none