.c-sidebar-artboard-platform-device
  height: $unit * 8
  display: flex
  width: 100%
  align-items: center
  padding: 0 $unit * 2
  border-radius: $unit

.c-sidebar-artboard-platform-device__name,
.c-sidebar-artboard-platform-device__size
  font-family: $font-family
  font-size: $font-size-small

.c-sidebar-artboard-platform-device__name
  flex-grow: 2
  text-align: left

.c-sidebar-artboard-platform-device__size
  text-align: right