.c-sidebar
  @include themed()
    background: theme-prop(sidebar-background)
  display: flex
  position: relative
  flex-shrink: 0
  width: $sidebarWidth
  height: 100%
  max-height: 100%
  background: #ffffff
  overflow-x: hidden
  overflow-y: hidden
  z-index: 2
  flex-direction: column

  &.c-sidebar--left
    @include themed()
      box-shadow: 1px 0 0 0 theme-prop(sidebar-border)

  &.c-sidebar--right
    @include themed()
      box-shadow: -1px 0 0 0 theme-prop(sidebar-border)

.c-sidebar__scroll
  position: relative
  flex-grow: 2
  width: 100%
  height: 100%
  overflow-y: scroll
  overflow-x: hidden

.c-sidebar__vtree
  position: absolute
  width: 100%
  height: 100%

.c-sidebar__empty-state
  +absolute-full
  display: flex
  align-items: center
  justify-content: center

.c-sidebar-empty-state__inner
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.c-sidebar-empty-state__icon
  display: flex
  align-items: center
  justify-content: center
  width: $unit * 8
  height: $unit * 8

.c-sidebar-empty-state__text,
.c-sidebar-empty-state__detail
  font-family: $font-family
  text-align: center

.c-sidebar-empty-state__text
  font-size: $font-size
  line-height: $unit * 10
  font-weight: $font-weight-bold

.c-sidebar-empty-state__detail
  font-size: $font-size-small
  line-height: $unit * 6

.c-sidebar-empty-state__action
  display: flex
  align-items: center
  justify-content: center
  padding: $unit * 4 0

  button
    font-family: $font-family
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    font-size: $font-size-small
    line-height: $unit * 8
    padding: 0 $unit * 2
    height: $unit * 8
    border-radius: $unit

.c-sidebar--left
  .c-sidebar__scroll
    top: $unit / 2
    height: calc(100% - 2px)

.c-sidebar__drag-handle
  position: absolute
  height: 100%
  width: $unit * 2
  z-index: 2

.c-sidebar__drag-handle--left
  left: 0