.c-sidebar-dropzone
  +absolute-full

.c-sidebar-dropzone__zone--top
  width: 100%
  position: absolute
  top: 0
  right: 0

.c-sidebar-dropzone__zone--center
  +absolute-full
  border-radius: $unit

.c-sidebar-dropzone__zone--bottom
  width: 100%
  position: absolute
  bottom: 0
  right: 0
