.c-sidebar-section-wrap
  width: 100%
  padding: 0 $unit

.c-sidebar-section
  display: flex
  flex-wrap: wrap
  width: 100%

.c-sidebar-section__row
  display: flex
  flex-grow: 2
  flex-shrink: 0
  width: 100%

.c-sidebar-section__column
  display: inline-flex
  flex-grow: 1
  flex-wrap: wrap

.c-sidebar-section__head
  text-transform: uppercase
  font-weight: $fontWeightBold
  height: $unit * 8
  line-height: $unit * 8
  font-size: $fontSizeSm
  padding: 0 $unit
  font-family: $fontFamily

  &.c-sidebar-section__head--extra
    padding: 0 $unit * 2

.c-sidebar-section__label
  height: $unit * 8
  line-height: $unit * 8
  font-size: $fontSizeSm
  padding: 0 $unit