.c-sidebar
  display: flex
  position: relative
  flex-shrink: 0
  width: $sidebarWidth
  // min-width: $sidebarMinWidth
  height: 100%
  max-height: 100%
  background: #ffffff
  overflow-x: hidden
  overflow-y: hidden
  z-index: 2
  flex-direction: column

.c-sidebar__scroll
  position: relative
  flex-grow: 2
  width: 100%
  height: 100%
  overflow-y: scroll

.c-sidebar__search
  position: relative
  width: 100%
  height: $unit * 8
  display: flex
  align-items: center

.c-sidebar-search__icon,
.c-sidebar-search__clear
  position: absolute
  width: $unit * 6
  height: $unit * 8
  display: flex
  align-items: center
  justify-content: center
  z-index: 3

.c-sidebar-search__clear
  right: 0

.c-sidebar-search__input
  flex-grow: 2

  .c-sidebar-input
    padding: 0

    input
      height: $unit * 8
      line-height: $unit * 8
      padding-left: $unit * 6
      padding-right: $unit * 6
      border-radius: 0
      box-shadow: none
      background: none

.c-sidebar__empty-state
  +absolute-full
  display: flex
  align-items: center
  justify-content: center

.c-sidebar-empty-state__inner
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.c-sidebar-empty-state__icon
  display: flex
  align-items: center
  justify-content: center
  width: $unit * 8
  height: $unit * 8

.c-sidebar-empty-state__text,
.c-sidebar-empty-state__detail
  font-family: $fontFamily
  text-align: center

.c-sidebar-empty-state__text
  font-size: $fontSizeMd
  line-height: $unit * 10

.c-sidebar-empty-state__detail
  font-size: $fontSizeSm
  line-height: $unit * 6

.c-sidebar-empty-state__action
  display: flex
  align-items: center
  justify-content: center
  padding: $unit * 4 0

  button
    font-family: $fontFamily
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    font-size: $fontSizeSm
    line-height: $unit * 8
    padding: 0 $unit * 2
    height: $unit * 8
    border-radius: $unit

.c-sidebar--left
  .c-sidebar__scroll
    top: $unit / 2
    height: calc(100% - 2px)

.c-sidebar__drag-handle
  position: absolute
  height: 100%
  width: $unit * 2
  z-index: 2

.c-sidebar__drag-handle--left
  left: 0