.c-sidebar
  display: flex
  position: relative
  flex-shrink: 0
  width: $sidebarWidth
  min-width: $sidebarMinWidth
  height: 100vh
  max-height: 100vh
  background: #ffffff
  overflow-x: hidden
  overflow-y: hidden

.c-sidebar__scroll
  flex-grow: 2
  width: 100%
  height: 100%
  overflow-y: scroll

.c-sidebar__section-head
  text-transform: uppercase
  padding: 0 $unit * 3
  height: $unit * 8
  line-height: $unit * 8
  font-size: $fontSizeSm