$layersSidebarCellHeight: $unit * 8 // 40

.c-layers-sidebar__layer-item
  display: flex
  align-items: center
  height: $layersSidebarCellHeight
  color: #000
  padding: 0 $unit * 3

.c-sidebar-layer__name
  font-size: $fontSizeSm
  line-height: $layersSidebarCellHeight
  flex-grow: 2
  cursor: pointer

.c-sidebar-layer__chevron
  display: flex
  align-items: center
  justify-content: center
  height: $layersSidebarCellHeight
  width: $unit * 6 // 24
  cursor: pointer
  flex-grow: 0
  flex-shrink: 1
