.c-text-editor
  +absolute-full
  z-index: 4
  overflow: hidden

.c-text-editor__overlay
  +absolute-full
  z-index: 4

.c-text-editor__textarea
  padding: 0
  outline: none
  border: none
  margin: 0
  resize: none
  background: none

  &::selection
    background: $selectionColor

.c-text-editor__span
  white-space: pre
  position: absolute
  opacity: 0
  z-index: -999999999999
