.c-timeline-handle
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  width: $unit * 4
  height: $unit * 4

.c-timeline-handle__ellipse
  width: $unit * 2
  height: $unit * 2
  border-radius: $unit * 2

.c-timeline-handle__tooltip
  display: flex
  position: absolute
  align-items: center
  justify-content: center
  display: none
  font-size: $fontSizeSm
  line-height: 16px
  textAlign: center
  padding: $unit
  zIndex: 999999999
  top: $unit * 5
  border-radius: $unit

.c-timeline-handle--right
  .c-timeline-handle__tooltip
    right: 0

.c-timeline-handle--left
  .c-timeline-handle__tooltip
    left: 0

.c-timeline-tween-handle
  position: relative
  height: $unit * 4
  border-radius: $unit * 2