.titlebar
  font-family: $fontFamily
  transform-origin: center top

.container-after-titlebar
  overflow: hidden !important

.window-title
  opacity: 0 !important

.c-topbar-title
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  font-family: $fontFamily
  font-size: $fontSizeSm
  top: 0
  width: 100%
  z-index: 99999999999

  *
    &::selection
      background: none

.c-topbar-title__unsaved-indicator
  margin-left: $unit