.c-topbar
  height: $unit * 12
  width: 100%
  flex-flow: 2
  display: flex
  align-items: center
  justify-content: center

.c-topbar__button
  width: $unit * 6
  height: $unit * 6
  background: red
