.c-topbar-dropdown-button
  display: flex
  position: relative
  margin: 0 $unit

  .c-topbar-button__button
    margin: 0

.c-topbar-dropdown-button__dropdown
  position: absolute
  width: $sidebarWidth - 16px
  top: $unit * 8
  left: 0
  padding: $unit 0
  z-index: 9999999
  border-radius: $unit
  backdrop-filter: blur(10px)

.c-topbar-dropdown-button__option
  display: flex
  align-items: center
  justify-content: center
  height: $unit * 8
  width: 100%
  padding-left: $unit * 3

.c-topbar-dropdown-button__icon
  flex-grow: 0
  flex-shrink: 0
  width: $unit * 8
  height $unit * 8
  display: flex
  align-items: center
  justify-content: center

.c-topbar-dropdown-button__label
  flex-grow: 2
  font-family: $fontFamily
  font-size: $fontSizeSm
  line-height: $unit * 8
  padding: 0 $unit
  text-align: left
