$fontFamily: 'Space Mono', Menlo, Helvetica, Arial, sans-serif

$hoverColor: red
$selectionColor: #3C88FD
$highlightColor: #EF2EF2
$accentColor: #77F22E
$highlightColorDark: darken($highlightColor, 10%)

$unit: 4px

$fontSizeLg: 16px
$fontSize: 14px
$fontSizeSm: 12px
$fontSizeXs: 10px

$fontWeightNormal: 400
$fontWeightBold: 700

$titleBarHeight: $unit * 6 // 24
$sidebarWidth: $unit * 80 // 320
$sidebarMinWidth: $unit * 40 // 120
$stylesSidebarWidth: $unit * 70 // 320
$sidebarMinWidth: $unit * 40 // 120
$topbarHeight: $unit * 12 // 48
$ruleSize: $unit * 6 // 24

$transitionNormal: 0.15s
$transitionSlow: 0.33s

$pickerShadow: 0 0 0 2px #fff, 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 3px rgba(0, 0, 0, 0.3)

$backgroundBlur: 17px

$controlSize: $unit * 8
$controlSizeSm: $unit * 6
$controlSizeLg: $unit * 10
$controlAddonWidth: $unit * 6
$controlAddonWidthSm: $unit * 4
$controlAddonWidthLg: $unit * 8

$buttonSize: $unit * 8
$buttonSizeSm: $unit * 6
$buttonSizeLg: $unit * 10

$borderRadius: $unit
$borderRadiusSm: $unit / 2
$borderRadiusLg: $unit * 2